body {
    background: #000;
    color: white;
    text-align: center;
    font-family: Arial;
    margin: 0;
}

h1 {
    margin-top: 20px;
    color: #00eaff;
}

canvas {
    background: #111;
    margin-top: 20px;
    border: 2px solid #00eaff;
}